<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text1</key>
	<string>1</string>
	<key>Text2</key>
	<string>2</string>
	<key>Text3</key>
	<string>3</string>
	<key>Text4</key>
	<string>4</string>
	<key>Text5</key>
	<string>5</string>
</dict>
</plist>
